# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#matt  was here

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

#Uneeded bloat
*.zip
*.7z
*.txt
hand_ins

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
application_project_week_2.docx
Char_JS.docx
*.docx
Site/heroschema.sql
Site/about.php
Site/js/skills_and_hp.js

Site/pdf.php

Site/js/hp_and_skills.js

Site/js/hp_and_skills.js

# Ignoring connect.php

Site/connect.php
Site/ajax.php