html {
	height: 100%;
	width: 100%;
	background: linear-gradient(transparent,#9d7142), url(../images/bg.png);
}

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Fira Sans Condensed', sans-serif;
	color: #494c49;
	text-align: justify;
	line-height: 1.5;
}

i {
	color: #ffffff;
	margin: 0 1% 0 1%;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #355c57;
}

h3 {
	font-family: 'Permanent Marker', cursive;
	font-size: 100%;
	/*-webkit-text-stroke: 3px #79553b;*/
	/*color: #79553b;*/
	color: #83ae1e;
	text-align: center;
}

#promo {
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	float: left;
	margin: 2% 0 0 3%;
	width: 14%;
	height: 100%;
	background: #83ae1e;
}

#promo img {
	max-width: 100%;
}

#subtitle {
	background: #ffffff;
	border-radius: 60px;
	max-width: 80%;
	margin: auto;
	left: 0;
	right: 0;
	padding-bottom: 0.01%;
}

#footer {
	position: absolute;
	color: #ffffff;
	font-size:100%;
	width: 14%;
	padding: 1% 0 1% 0;
	text-align: center;
	bottom: 0;
}

#frame {
	float: right;
	margin: 2% 3% 0 0;
	border: none;
	width: 78%;
	height: 100%;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}