html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Fira Sans Condensed", sans-serif;
	color: #494c49;
	line-height: 1.5;
	overflow: hidden;
}

#content {
	padding: 18px 30px;
	margin-top: 100px;
}

.category {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
}

.button {
	border: #83ae1e solid 3px;
	border-radius: 7px;
	padding: 5px 15px;
	width: 150px;
	font-family: "Fira Sans Condensed", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
	color: #494c49;
	cursor: pointer;
	display: inline-block;
	background: #86ad08;
	background-image: linear-gradient(to bottom, #f1ffb7, #9abb14);
	transition: all 0.3s ease 0s;
}

.button:hover {
	opacity: 0.75;
}

.textbox {
	border: #83ae1e solid 3px;
	border-radius: 7px;
	background: #f1ffb7;
	width: 80%;
}

h1 {
	text-align: center;
	font-family: 'Galindo', cursive;
	text-transform: uppercase;
	font-size: 44px;
	color: #79553b;
}

#burger {
		max-width: 100%;
	}

/* Summary Page */
#charname {
	background: #83ae1e;
	text-align: center;
	padding: 1px 0 1px 0;
	max-width: 360px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
#charname h1 {
	font-size: 27px;
	color: #ffffff;
}
#charpic {
	float: left;
}
#charpic img {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border: 5px solid #83ae1e;
	max-width: 350px;
}
#charsummary {
	background: red;
	float: left;
	margin: 0 2% 0 2%;
	padding: 30px;
	border-radius: 30px;
	width: 60%;
	height: 470px;
	background: linear-gradient(#83ae1e,transparent);
	margin-top: -120px;
	color: #ffffff;
}
#charsummary h2 {
	margin-bottom: -5px;
}


/* Character Vault */
#image-container {
    float: left;
	margin-right: 3%;
	height: 140px;
	width: 140px;
	display: block;
    background: linear-gradient(#83ae1e,#9d7142);
	text-align: center;
	border: 3px solid #79553b;
}

#image-container img {
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

#image-container img:hover {
	opacity: 1.0;
	transition: all 1s;
}

/******** MEDIA SCREEN QUERIES ******************************************************/
@media screen and (max-width: 960px) {
	body {
		overflow: visible;
	}
}

@media screen and (max-width: 776px) {
	body {
		overflow: visible;
	}
	#burger {
		display: none;
	}
	.textbox {
		width: 100%;
	}
}