html {
	height: 100%;
	width: 100%;
	background: url(../images/bg.png);
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Fira Sans Condensed', sans-serif;
	color: #494c49;
	text-align: justify;
	line-height: 1.5;
}

.button {
	border: #79553b solid 3px;
	padding: 5px;
	font-family: 'Fira Sans Condensed', sans-serif;
	background: #f5eee8;
}

.textbox {
	border: #79553b solid 3px;
	height: 24px;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	color: #79553b; /* saturated brown */
}

i {
	color: #ffffff;
	-webkit-text-stroke: 3px #79553b;
}

#content {
	padding: 0 4% 0 4%;
	margin-top: 10%;
}

nav {
	background: rgba(131,174,30,0.8);
	width: 100%;
	padding: 3px 0 3px 0;
	top: 0;
	position: absolute;
	display: block;
}

nav ul {
	list-style-type: none;
	text-align: center;
	font-weight: medium;
}

nav li {
	display: inline;
	padding: 0 2% 0 2%;
}

nav a {
	font-size: 130%;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Crete Round', serif;
}

nav a:hover {
	color: #355c57;
	transition: all 1s;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #83ae1e;
	border: 3px solid #83ae1e;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #83ae1e;
}
::-webkit-scrollbar-thumb:active {
	background: #83ae1e;
}
::-webkit-scrollbar-track {
	background: #355c57;
	border: 0px none #355c57;
	border-radius: 75px;
}
::-webkit-scrollbar-track:active {
	background: #355c57;
}
::-webkit-scrollbar-corner {
	background: transparent;
}