html {
	height: 100%;
	width: 100%;
	background: url(../images/bg.png);
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Fira Sans Condensed', sans-serif;
	color: #494c49;
	text-align: justify;
	line-height: 1.5;
}

.button {
	border: #79553b solid 3px;
	padding: 5px 14px 5px 14px;
	color: #ffffff;
	font-size: 18px;
	font-family: 'Crete Round', serif;
	background: #83ae1e;
	cursor: pointer;
}

.textbox {
	border: #79553b solid 3px;
	height: 24px;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	color: #79553b; /* saturated brown */
}

i {
	color: #ffffff;
	-webkit-text-stroke: 3px #79553b;
}

#content {
	padding: 0 4% 0 4%;
	margin-top: 10%;
}

/*  Navigation Bar */

nav {
	background: rgba(131,174,30,0.8);
	width: 100%;
	padding: 3px 0 3px 0;
	top: 0;
	position: absolute;
	display: block;
}

nav ul {
	list-style-type: none;
	text-align: center;
	font-weight: medium;
}

nav li {
	display: inline;
	padding: 0 2% 0 2%;
}

nav a {
	font-size: 130%;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Crete Round', serif;
}

nav a:hover {
	color: #355c57;
	transition: all .5s;
}

/*  Navigation Dropdown */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    visibility: hidden;
	transition: 0.2s .1s; /* delay of .1 seconds on hover off to prevent dissapear*/
    position: absolute;
    background-color: #f9f9f9;
	top: 160%; /* Sets drop down nav to be inline with Green Bar */
	right: -38%; /* Centers drop down nav */
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
	font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover
	Using off white instead of white */
.dropdown-content a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
	visibility: visible;
    transition-delay: 0s; /* react immediately on hover */
}

#image-container {
    float: left;
	margin-right: 3%;
	height: 140px;
	width: 140px;
	display: block;
    background: linear-gradient(#83ae1e,#9d7142);
	text-align: center;
	border: 3px solid #79553b;
}

#image-container img {
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

#image-container img:hover {
	opacity: 1.0;
	transition: all 1s;
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #83ae1e;
	border: 3px solid #83ae1e;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #83ae1e;
}
::-webkit-scrollbar-thumb:active {
	background: #83ae1e;
}
::-webkit-scrollbar-track {
	background: #355c57;
	border: 0px none #355c57;
	border-radius: 75px;
}
::-webkit-scrollbar-track:active {
	background: #355c57;
}
::-webkit-scrollbar-corner {
	background: transparent;
}